@use '../palette/palette.module' as palette;

.data-pair {
  display: flex;
  gap: 5px;
  margin: 0;

  &__term {
    display: inline;

    &--colon {
      &::after {
        content: ':';
      }
    }
  }

  &__definition {
    display: inline;
    margin-left: 0;
  }
}
