@use '../palette/palette.module' as palette;

.meta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 0;
  font-size: 1.2rem;
  // margin-bottom: 25px;

  &__item {
    display: flex;
    align-items: center;
  }

  &__time {
  }
  // color: palette.$secondary-main-text;

  // :where(& > span) {
  //   color: #fff;
  // }

  // &__traffic {
  //   display: inline;

  //   & > dt {
  //     display: inline;
  //   }

  //   & > dd {
  //     display: inline;
  //     margin-left: 5px;
  //     margin-right: 5px;
  //   }
  // }
}
