:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 1.4rem;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}
